.DS_Store
**/node_modules/
**/.env
**/*.log

# Ignore default WP themes and theme index
twentytwenty*
genesis-block-theme
index.php

# Ignore default WP themes and theme index
twentytwenty*
genesis-block-theme
index.php
